footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  font-size: 0.8em;

  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 15px;
}
